<%-partial('./partials/header')%>


<div class="container">
  <h1 class="blog-heading top-m">About</h1>

  <p class="w-75 mx-auto text-center">Hey there! Kunal this side, as you may have guessed this is just a prototype of a Blogging website. It was created with a vision of understanding the main concept behind the logic of a blog storing website.</p>

    <h3 class="mt-4 mb-4">Blog website </h3>
    <p>This project is Created to understand the Working of a Full Stack website, Frontend is created using HTML,CSS,Bootstrap and Ejs for the templete, Server side action is done using Nodejs and npm Modules, MongoDb is used as database to store the blogs</p>

</div>
<%-partial('./partials/footer')%>
