<%-partial('./partials/header')%>

    <div class="container">
      <h1 class="blog-heading top-m">Contact Page</h1>

      <p class="w-75 mx-auto text-center">Hey there!Kunal this side, as you may have guessed this is just a prototype of a Blogging website. It was created with a vision of understanding the main concept behind the logic of a blog storing website. </p>

        <h3 class="mt-4 mb-4">Contact me</h3>
        <p><a href = "mailto: kbhamoriya0@gmail.com">Send Email</a></p>
        
    </div>

  <%-partial('./partials/footer')%>